<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Issue Tracker</title>
    <link
      rel="shortcut icon"
      href="https://cdn.freecodecamp.org/universal/favicons/favicon-16x16.png"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link 
      rel="stylesheet" 
      href="/public/style.css"
    />
  </head>
  <body>
    <!-- Navbar with Title -->
    <nav class="navbar navbar-dark bg-dark fixed-top">
      <div class="container-fluid justify-content-center">
        <h1 class="navbar-brand mb-0">Issue Tracker</h1>
      </div>
    </nav>

    <!-- Main Content -->
    <div class="container-fluid mt-5 pt-5">
      <div class="row">
        <div class="col-md-4 d-flex flex-column justify-content-between">
          <section>
            <h3>Example <code>GET</code> usage</h3>
            <code>/api/issues/{project}</code><br />
            <code>/api/issues/{project}?open=true&amp;assigned_to=Joe</code><br />
            <h3>Example return</h3>
            <pre class="bg-dark text-light p-3 rounded">
<code>[
  { 
    "_id": "5871dda29faedc3491ff93bb",
    "issue_title": "Fix error in posting data",
    "issue_text": "When we post data it has an error.",
    "created_on": "2017-01-08T06:35:14.240Z",
    "updated_on": "2017-01-08T06:35:14.240Z",
    "created_by": "Joe",
    "assigned_to": "Joe",
    "open": true,
    "status_text": "In QA"
  },
  ...
 ]
</code>
</pre>
          </section>
          
        </div>
        <div class="col-md-4 d-flex flex-column justify-content-between 
          <section id="testui" class="update">
            <h3>Update issue on <i>apitest</i> (Change any or all to update issue on the _id supplied)</h3>
            <form id="testForm2" class="border p-3 rounded bg-secondary">
              <div class="form-group">
                <input type="text" name="_id" placeholder="*_id" class="form-control" required />
              </div>
              <div class="form-group">
                <input type="text" name="issue_title" placeholder="(opt)Title" class="form-control" />
              </div>
              <div class="form-group">
                <textarea name="issue_text" placeholder="(opt)Text" class="form-control"></textarea>
              </div>
              <div class="form-group">
                <input type="text" name="created_by" placeholder="(opt)Created by" class="form-control" />
              </div>
              <div class="form-group">
                <input type="text" name="assigned_to" placeholder="(opt)Assigned to" class="form-control" />
              </div>
              <div class="form-group">
                <input type="text" name="status_text" placeholder="(opt)Status text" class="form-control" />
              </div>
              <div class="form-group form-check">
                <input type="checkbox" name="open" value="false" class="form-check-input" />
                <label class="form-check-label">Check to close issue</label>
              </div>
              <button type="submit" class="btn btn-primary w-100">Submit Issue</button>
            </form>
          </section>
        </div>
        <div class="col-md-4 d-flex flex-column justify-content-between">
          <section id="testui">
            <h3>Submit issue on <i>apitest</i></h3>
            <form id="testForm" class="border p-3 rounded bg-secondary">
              <div class="form-group">
                <input type="text" name="issue_title" placeholder="*Title" class="form-control" required />
              </div>
              <div class="form-group">
                <textarea name="issue_text" placeholder="*Text" class="form-control" required></textarea>
              </div>
              <div class="form-group">
                <input type="text" name="created_by" placeholder="*Created by" class="form-control" required />
              </div>
              <div class="form-group">
                <input type="text" name="assigned_to" placeholder="(opt)Assigned to" class="form-control" />
              </div>
              <div class="form-group">
                <input type="text" name="status_text" placeholder="(opt)Status text" class="form-control" />
              </div>
              <button type="submit" class="btn btn-primary w-100">Submit Issue</button>
            </form>
          </section>
          <section id="testui">
            <h3>Delete issue on <i>apitest</i></h3>
            <form id="testForm3" class="border p-3 rounded bg-secondary">
              <div class="form-group">
                <input type="text" name="_id" placeholder="*_id" class="form-control" required />
              </div>
              <button type="submit" class="btn btn-primary w-100">Delete Issue</button>
            </form>
          </section>
        </div>
        <code id="jsonResult" class="bg-dark text-light p-3 rounded"></code>
      </div>
    </div>

    <!-- Footer -->
    <footer class="text-center mt-4">
      <p>
        Quiz by <a href="https://www.freecodecamp.org/">freeCodeCamp</a><br />
        Coded by <a href="https://github.com/agmt92">agmt92</a>
      </p>
    </footer>

    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script>
      $(function() {
        $('#testForm').submit(function(e) {
          $.ajax({
            url: '/api/issues/apitest',
            type: 'post',
            data: $('#testForm').serialize(),
            success: function(data) {
              $('#jsonResult').text(JSON.stringify(data));
            }
          });
          e.preventDefault();
        });
        $('#testForm2').submit(function(e) {
          $.ajax({
            url: '/api/issues/apitest',
            type: 'put',
            data: $('#testForm2').serialize(),
            success: function(data) {
              $('#jsonResult').text(JSON.stringify(data));
            }
          });
          e.preventDefault();
        });
        $('#testForm3').submit(function(e) {
          $.ajax({
            url: '/api/issues/apitest',
            type: 'delete',
            data: $('#testForm3').serialize(),
            success: function(data) {
              $('#jsonResult').text(JSON.stringify(data));
            }
          });
          e.preventDefault();
        });
      });
    </script>
  </body>
</html>